.navbar {
  background-color: #262626;
  z-index: 1;
  width: 100%;
}

.navbar .nav-link {
  color: white !important;
  margin-left: 10px;
  font-size: 18px;
}

.navbar-home {
  background-color: transparent;
  position: absolute;
}

#user-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#user-active p {
  margin: 0;
}

.carousel {
  background: radial-gradient(circle, rgba(39, 39, 39, 0.8) 0%, #272727 100%);
}

.carousel-inner {
  padding: 120px 0;
}

.carousel-inner .carousel-item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

.carousel-inner .carousel-item-inner img {
  max-width: 400px;
}

.carousel-inner .carousel-text {
  color: white;
  max-width: 500px;
}

.carousel-inner .carousel-text h2 {
  margin-bottom: 40px;
}

.carousel-btn {
  display: block;
  background-color: #1DA3DD;
  color: white;
  text-decoration: none;
  padding: 8px 0;
  text-align: center;
  margin-top: 100px;
}

.carousel-btn:hover {
  background-color: #148bbe;
  color: white;
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 0;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 60px 0;
}

.card {
  border: none;
  margin-top: 40px;
  -webkit-filter: drop-shadow(0 5px 5px rgba(51, 51, 51, 0.2));
          filter: drop-shadow(0 5px 5px rgba(51, 51, 51, 0.2));
}

.card-img-top {
  width: 200px;
  margin: 16px auto 0;
}

.btn-primary {
  background-color: #1DA3DD;
  border: none;
  width: 100%;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #148bbe;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  background-color: whitesmoke;
}

footer p {
  margin: 0;
}

.search-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1.5px solid #262626;
  border-radius: 4px;
  padding: 4px;
}

.input-box img {
  margin: 4px;
}

.input-box input {
  border: none;
}

.input-box input:focus {
  outline: none;
}

.product-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px 0;
}

.product-details img {
  max-width: 400px;
}

.product-info {
  margin-left: 80px;
  max-width: 400px;
}

.product-price img {
  display: block;
  margin-top: 10px;
}

.product-price h3 {
  display: block;
  margin: 20px 0;
}

.cart-btn {
  display: block;
  background-color: #1DA3DD;
  color: white;
  text-decoration: none;
  padding: 8px 0;
  text-align: center;
  cursor: pointer;
}

.cart-btn:hover {
  background-color: #148bbe;
  color: white;
}

.list-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  border-bottom: 1px solid #262626;
}

.list-product .list-product-info {
  max-width: 800px;
  margin-left: 60px;
}

.list-product .list-product-info h4 {
  display: inline;
}

.list-product .list-product-info a {
  text-decoration: none;
  width: 100px;
  padding: 10px 20px;
  border-radius: 4px;
  float: right;
}

.list-product img {
  height: 187.5px;
  width: 250px;
}

.list-product .list-product-btn {
  text-align: center;
  cursor: pointer;
}

.cart-container {
  height: 100vh;
}

.cart-container h3 {
  display: inline;
}

.cart-remove-item {
  display: inline;
  float: right;
  height: 20px !important;
  width: 20px !important;
}

.login-container {
  max-width: 400px;
  margin: 140px auto;
}

.login-container h1 {
  margin-bottom: 20px;
}

#login-form {
  border: 1 solid black;
  -webkit-box-shadow: 0px 5px 15px 5px rgba(38, 38, 38, 0.2);
          box-shadow: 0px 5px 15px 5px rgba(38, 38, 38, 0.2);
  padding: 40px;
  border-radius: 4px;
}

#login-form .error-message {
  display: none;
  background-color: #ff5e00;
  color: white;
  padding: 10px;
}

.admin-container {
  max-width: 400px;
  margin: 140px auto;
}

.admin-container h1 {
  margin-bottom: 20px;
}

#admin-form {
  border: 1 solid black;
  -webkit-box-shadow: 0px 5px 15px 5px rgba(38, 38, 38, 0.2);
          box-shadow: 0px 5px 15px 5px rgba(38, 38, 38, 0.2);
  padding: 40px;
  border-radius: 4px;
}

#admin-form .productHelp {
  display: none;
  color: red;
}
/*# sourceMappingURL=style.css.map */