.navbar {
  background-color: #262626;
  width: 100%;
}

.navbar .nav-link {
  color: white !important;
  margin-left: 10px;
  font-size: 18px;
}

.navbar .navbar-nav {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .active {
  color: #1DA3DD !important;
}

.navbar #user-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar #user-active p {
  color: #fc4e4e;
  margin: 0 0 0 10px;
}

@media (max-width: 992px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .navbar p {
    margin: 0;
    padding: 8px 0;
  }
  .navbar .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar #user-active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cart-icon {
  display: none;
  margin-left: 10px;
}

@media (min-width: 992px) {
  .cart-icon {
    display: block;
  }
}

.show-icon {
  display: block;
}

@media (min-width: 992px) {
  .show-icon {
    display: none;
  }
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  border: none !important;
  outline: 0px !important;
  -webkit-transition: none;
  transition: none;
  color: transparent;
}

.navbar-toggler-icon {
  background-image: url(../../images/navbar-icon.svg) !important;
}

.spinner {
  margin: 120px auto;
}

.jumbotron {
  color: white;
  background: radial-gradient(circle, #262626 80%, #262626 100%);
  padding: 100px 0;
}

.jumbotron .row {
  max-width: 1000px;
  margin: 0 auto;
}

.jumbotron .col {
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jumbotron .col img {
  max-width: 330px;
  margin: 0 auto;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 60px 0;
}

.card {
  border: none;
  margin-top: 40px;
  -webkit-filter: drop-shadow(0 5px 5px rgba(51, 51, 51, 0.2));
          filter: drop-shadow(0 5px 5px rgba(51, 51, 51, 0.2));
}

@media (max-width: 768px) {
  .card {
    margin: 20px auto;
  }
}

.card-img-top {
  width: 200px;
  margin: 16px auto 0;
}

.btn-primary {
  background-color: #1DA3DD;
  border: none;
  width: 100%;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #148bbe;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  background-color: whitesmoke;
  margin-top: auto;
}

footer p {
  margin: 0;
}

.search-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1.5px solid #262626;
  border-radius: 4px;
  padding: 4px;
}

.input-box img {
  margin: 4px;
}

.input-box input {
  border: none;
}

.input-box input:focus {
  outline: none;
}

.product-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-details img {
  max-width: 400px;
}

.product-info {
  margin: 0 auto;
  max-width: 400px;
}

.product-price img {
  display: block;
  margin-top: 10px;
}

.product-price h3 {
  display: block;
  margin: 20px 0;
}

.cart-btn {
  display: block;
  background-color: #1DA3DD;
  color: white;
  text-decoration: none;
  padding: 8px 0;
  text-align: center;
  cursor: pointer;
}

.cart-btn:hover {
  background-color: #148bbe;
  color: white;
}

.added-to-cart-cont {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.added-to-cart-cont img {
  width: 20px;
}

.added-to-cart-cont .added-to-cart {
  margin: 0 10px 0 0;
  display: inline;
  color: #0A7C15;
}

.list-product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 0;
}

.list-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  border-bottom: 1px solid #262626;
}

.list-product .list-product-info {
  max-width: 800px;
  margin-left: 60px;
}

.list-product .list-product-info h4 {
  display: inline;
}

.list-product .list-product-info a {
  text-decoration: none;
  width: 100px;
  padding: 10px 20px;
  border-radius: 4px;
  float: right;
}

.list-product img {
  max-height: 187.5px;
  max-width: 250px;
}

.list-product .list-product-btn {
  text-align: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .list-product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .list-product .list-product-info {
    margin: 0 auto;
  }
  .list-product img {
    margin: 0 auto;
  }
}

.cart-container h3 {
  display: inline;
}

.cart-remove-item {
  display: inline;
  float: right;
  height: 20px !important;
  width: 20px !important;
}

.cart-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  border-bottom: solid 1px #262626;
}

.cart-heading .total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container {
  max-width: 400px;
  margin: 140px auto;
}

.login-container h1 {
  margin-bottom: 20px;
}

#login-form {
  border: 1 solid black;
  -webkit-box-shadow: 0px 5px 15px 5px rgba(38, 38, 38, 0.2);
          box-shadow: 0px 5px 15px 5px rgba(38, 38, 38, 0.2);
  padding: 40px;
  border-radius: 4px;
}

#login-form .error-message {
  display: none;
  background-color: #ff5e00;
  color: white;
  padding: 10px;
}

.admin-container {
  max-width: 400px;
  margin: 140px auto;
}

.admin-container h1 {
  margin-bottom: 20px;
}

#admin-form {
  border: 1 solid black;
  -webkit-box-shadow: 0px 5px 15px 5px rgba(38, 38, 38, 0.2);
          box-shadow: 0px 5px 15px 5px rgba(38, 38, 38, 0.2);
  padding: 40px;
  border-radius: 4px;
  margin: 80px 0;
  width: 500px;
}

#admin-form .productHelp {
  display: none;
  color: red;
}

#admin-form textarea {
  resize: none;
}

.edit-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delete-btn {
  background-color: #c70000;
  max-width: 420px;
  margin: 20px auto;
}

body {
  height: 100vh;
}

/* Trick */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */