.admin-page {
    margin: 0 auto;

    h1 {
        margin: 40px 0 20px 0;
    }
}

#admin-form {
    border: 1 solid black;
    box-shadow: 0px 5px 15px 5px rgba(38,38,38,0.2);
    padding: 40px;
    border-radius: 4px;
    margin: 20px 0;
    max-width: 500px;
    width: 100%;
    .productHelp {
        display: none;
        color: red;
    }

    textarea {
        resize: none;
    }
}

.edit-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delete-btn {
    background-color: rgb(199, 0, 0);
    max-width: 420px;
    margin: 20px auto;

    
}

.delete-btn:hover {
    background-color: rgb(150, 0, 0);
}