.cart-container {
    height: 100vh;
    h3 {
        display: inline;
        
    }
}

.cart-remove-item {
    display: inline;
    float: right;
    height: 20px !important;
    width: 20px !important;
}