.product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
    flex-wrap: wrap;
    height: 100%;
    max-height: 1000px;
    img {
        max-width: 400px;
    }
}

.product-info {
    margin: 0 auto;
    max-width: 400px;
}

.product-price {
    img {
        display: block;
        margin-top: 10px;
    }

    h3 {
        display: block;
        margin: 20px 0;
    }
}

.cart-btn {
    display: block;
    background-color: #1DA3DD;
    color: white;
    text-decoration: none;
    padding: 8px 0;
    text-align: center;
    cursor: pointer;
    
}

.cart-btn:hover {
    background-color: #148bbe;
    color: white;
}
