.product-details {
    display: flex;
    justify-content: center;
    margin: 80px auto;
    flex-wrap: wrap;

    img {
        max-width: 400px;
    }
}

.product-info {
    margin: 0 auto;
    max-width: 400px;
}

.product-price {
    img {
        display: block;
        margin-top: 10px;
    }

    h3 {
        display: block;
        margin: 20px 0;
    }
}

.cart-btn {
    display: block;
    background-color: #1DA3DD;
    color: white;
    text-decoration: none;
    padding: 8px 0;
    text-align: center;
    cursor: pointer;
    
}

.cart-btn:hover {
    background-color: #148bbe;
    color: white;
}
.added-to-cart-cont {
    display: none;
    align-items: center;

    img {
        width: 20px;
    }

    .added-to-cart {
        margin: 0 10px 0 0;
        display: inline;
        color: #0A7C15;
    }
}
