.list-product-container {
    display: flex;
    flex-direction: column;
}


.list-product {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-bottom: 1px solid #262626;
    .list-product-info {
        max-width: 800px;
        margin-left: 60px;

        h4 {
            display: inline;
        }

        a {
            text-decoration: none;
            width: 100px;
            padding: 10px 20px;
            border-radius: 4px;
            float: right;
        }
    }

    img {
        max-height: 187.5px;
        max-width: 250px;
    }

    .list-product-btn {
        text-align: center;
        cursor: pointer;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        
        .list-product-info {
            margin: 0 auto;
        }

        img {
            margin: 0 auto;
        }
    }
}